$fontColor: #db3a65;
$titleColor: #0e4675;
$backgroundColor: #f3f1f6;
$citeColor: #777;
$newsColor: #25a0b8;

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$smartphone: "(max-width: 767px)";
